# Dossiers générés par MySQL ou Moodle pour les données
dbdata/
moodledata/

# Fichiers confidentiels
.env

# Dossiers et fichiers générés par Composer
moodle/vendor/
moodle/composer.phar

# PHPCodeSniffer
phpcbf.phar
phpcs.phar

# Inutile
.DS_Store
